* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-main: #eaeaea;
    --cor-container: #dfdfdf;
    --cor-destaque: #ffaa60;
    --cor-nav: #3F3D3B;
    --cor-texto: #6C6C6C;
    --sombra: 0 8px 6px -6px rgba(0, 0, 0, 0.25);

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Inria Serif";
    color: var(--cor-texto);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: var(--sombra);
    flex-shrink: 0;
    z-index: 1;
    color: var(--cor-destaque);
}

header h1 {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    height: 82px;
    width: 82px;
}

nav {
    margin-right: 15px;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 24px;
}

li {
    display: flex;
    align-items: center;
}

li img {
    height: 32px;
    width: 32px;
}

li a {
    color: var(--cor-nav);
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--cor-main);
    min-height: calc(100% - 112px);
}

section {
    width: 100%;
}

.home {
    display: flex;
    align-items: stretch;
    background-color: var(--cor-container);
    max-height: 70vh;
}

.home-imagem {
    flex: 0 0 40%;
}

.home-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 20%;
}

.home-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 4%;
    font-size: 20px;
}

.home-texto img {
    height: 92px;
    width: 92px;
}

.home-texto h2 {
    color: #000;
    font-size: 48px;
}

.home-texto p {
    font-size: 28px;
}

.contato-container {
    width: 70vw;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-container);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--sombra);
}

.contato-container > div {
    flex: 2;
    border-right: #000 solid .5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    text-align: justify;
    font-size: 30px;
}

.contato-container > div > img {
    width: 80%;
    box-shadow: var(--sombra);
    border-radius: 15px;
}

form {
    color: black;
    font-size: 20px;
    display: flex;
    flex: 3;
    height: 100%;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    gap: 5px;
}

form > div {
    display: flex;
    gap: 10px;
}

form > div > div {
    flex: 1;
}

input, select, textarea {
    width: 100%;
    height: 25px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px;
}

textarea {
    flex: 1;
    padding: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-bottom-color: var(--cor-destaque);
    transition: .2s;
}

.contato-container h2, button {
    text-transform: uppercase;
}

#data, #pessoas {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--cor-destaque);
    border: 0;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    font-family: "Inria Serif";
    font-size: 20px;
    width: 35%;
    color: var(--cor-nav);
}

.destinos {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.destino-box {
    overflow: hidden;
    flex: 1;
    border-radius: 15px;
    box-shadow: var(--sombra);
    background-color: var(--cor-container);
    max-width: 25%;
    height: 55vh;
}

.destino-box p {
    font-size: 20px;
    text-align: justify;
}

.destino-box > img {
    height: 190px;
    object-fit: cover;
    width: 100%;
}

.destino-box div, .pacote-card div {
    padding: 20px;
}

.destino-box h2, .pacote-card h2, .contato-container h2 {
    color: black;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.destino-box h2, .contato-container h2 {
    justify-content: center;
}

.destino-box h2 img, .contato-container h2 img {
    width: 46px;
    height: 46px;
}

.pacotes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pacote-card {
    display: flex;
    border-radius: 15px;
    box-shadow: var(--sombra);
    background-color: var(--cor-container);
    width: 70vw;
    height: 22vh;
    overflow: hidden;
}

.pacote-card p {
    font-size: 17px;
}

.pacote-card > img {
    height: 100%;
    width: 220px;
}

.pacote-card h2 img {
    width: 64px;
    height: 64px;
}

.destinos {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.destino-box {
    overflow: hidden;
    flex: 1;
    border-radius: 15px;
    box-shadow: var(--sombra);
    background-color: var(--cor-container);
    max-width: 25%;
    height: 55vh;
}

.destino-box > img {
    height: 190px;
    object-fit: cover;
    width: 100%;
}

.destino-box div, .pacote-card div {
    padding: 20px;
}

.destino-box h2 {
    color: black;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.destino-box h2 img {
    width: 46px;
    height: 46px;
}

.pacotes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pacote-card {
    display: flex;
    border-radius: 15px;
    box-shadow: var(--sombra);
    background-color: var(--cor-container);
    width: 70vw;
    height: 22vh;
    overflow: hidden;
}

.pacote-card > img {
    height: 100%;
    width: 220px;
}

.pacote-card h2 {
    color: black;
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 5px;
    margin-bottom: 10px;
}

.pacote-card h2 img {
    width: 64px;
    height: 64px;
}

footer {
    flex-shrink: 0;
}